@{
    ViewData["Title"] = "Библиотека";
}

<h5>@ViewBag.Message</h5>

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на сайт "Библиотека!"</h1>
    <p>Курсовой проект Артемьевой О.А.</p>
</div>
